*{
    font-family: 'Open Sans', serif;
}



/* ------CONTACT PAGE--------- */
.contacts{
  padding: 30px;
}

/* change the background color */
nav{
  background-color:#87cade;
  font-weight: 1000;
  font-size: 1.3rem;
}

/*------- LOGO OF THE HOME PAGE--------- */
#logo{
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width:50rem;
}
/* ------MEDIA QUERY FOR LOGO----------- */
@media (max-width : 1020px) {
  #logo {
    margin-top: 3rem;
    padding-top: 3rem;
    width: 15rem;
    text-align: center;
    
  }
  div.intro {
    max-width: auto;
  }
  div.intro .intro-para {
    font-size: 1rem;
  }
  div.intro .intro-para {
    font-size: 0.5rem;
  }
}


/*---------- INTRO OF FOUNDERS--------- */
.row{
  padding-top: 20px;
  width: 1500px;
}

.column {
    float: left;
    padding-top: 15px;
    padding-left: 100px;
  }
  
.founderpic{
    padding: 15px;
    height: 275px;
}

  .left-even {
    width: 65%;
  }
  
  .right-even {
    width: 30%;
  } 

  .left-odd {
    width: 30%;
  }

  .right-odd {
    width: 65%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
/* ------------INTRODUCTION PAGE---------------- */
div.intro {
    
  width: 90%;
  padding: 2rem;
  border:4px #5ea7a3 solid;
  border-radius: 0.4rem;
  margin: 30px;
  background: url(https://wallpaperaccess.com/full/2312687.png) no-repeat;
  text-align: center;
}
div.intro .intro-heading{
  font-size: 3rem;
  font-weight: 600;
  
}
div.intro .intro-para {
  font-size: 2rem;
}


/* -----PARTNER WITH US---------- */
.partner{
    width: 190px;
    margin-left: 50px;
    margin-right: 50px;
}

td{
    margin-left: auto;
    margin-right: auto;
}
