*{
    font-family: 'Libre Baskerville', serif;
}

.contacts{
  padding: 30px;
}

/* change the background color */
nav{
  background-color:burlywood;
}


#logo{
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    height: 650px;
}

.row{
  padding-top: 20px;
  width: 1500px;
}

.column {
    float: left;
    padding-top: 15px;
    padding-left: 100px;
  }
  
.founderpic{
    padding: 15px;
    height: 275px;
}

  .left-even {
    width: 65%;
  }
  
  .right-even {
    width: 30%;
  } 

  .left-odd {
    width: 30%;
  }

  .right-odd {
    width: 65%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

#intro{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.partner{
    width: 190px;
    margin-left: 50px;
    margin-right: 50px;
}

td{
    margin-left: auto;
    margin-right: auto;
}
